@model CreateHouseVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="w-100">
    <h1 id="title" class="w-100 text-center">Choose images of your place</h1>
</div>
<div class="row" style="margin-bottom:20vh;">
    <div class="col-3" >
    </div>

    <div class="col-6" >
            <input type="file" class="form-control" form="MyForm" asp-for="Images" id="fileInput" accept="image/*" multiple />
        <div class="row" id="imageList">

        </div>
    </div>
    <div class="col-3">
    </div>
</div>
<div class="w-100">
    <div class="d-flex" style="height:10vh;position:absolute; left:0px; bottom:9vh;width:100vw; background-color:antiquewhite;" >
        <div class="" style="left: 88vw;width:8vw;top:2.5vh; min-width:50px; position: relative;">
           <form id="MyForm" asp-action="Index" asp-controller="Upload" method="post" enctype="multipart/form-data">
                <input hidden name="Category" value="@Model.Category"/>
                @foreach (var item in Model.Tags)
                {
                        <input name="Tags[]" hidden value="@item" />
                }
                <input type="hidden" asp-for="Address.Country" value="@Model.Address.Country"  />
                <input type="hidden" value="@Model.Address.City" asp-for="Address.City" />
                <input type="hidden" value="@Model.Address.Latitude" asp-for="Address.Latitude"  />
                <input type="hidden" value="@Model.Address.Longitude" asp-for="Address.Longitude"  />
                <input type="hidden" value="@Model.Address.FormattedAddress" asp-for="Address.FormattedAddress"  />
                <input type="hidden" value="@Model.Address.AddressLabel" asp-for="Address.AddressLabel"  />
                <input type="hidden" value="@Model.Description" asp-for="Description" />
                <input type="hidden" value="@Model.Rooms" asp-for="Rooms" />
                <input type="hidden" value="@Model.SquareMeter" asp-for="SquareMeter" />
                <input type="hidden" value="@Model.Price" asp-for="Price" />
                <button id="MyBtn" disabled class="btn btn-dark text-white w-100">Next</button>
           </form>
        </div>
        <div class="" style="right:5vw;width:8vw;top:2.5vh; min-width:50px; position: relative;">
            <form asp-action="Index" asp-controller="Upload" method="post">
                <input hidden name="Category" value="@Model.Category"/>
                @foreach (var item in Model.Tags)
                {
                        <input name="Tags[]" hidden value="@item" />
                }
                <input type="hidden" asp-for="Address.Country" value="@Model.Address.Country"  />
                <input type="hidden" value="@Model.Address.City" asp-for="Address.City" />
                <input type="hidden" value="@Model.Address.Latitude" asp-for="Address.Latitude"  />
                <input type="hidden" value="@Model.Address.Longitude" asp-for="Address.Longitude"  />
                <input type="hidden" value="@Model.Address.FormattedAddress" asp-for="Address.FormattedAddress"  />
                <input type="hidden" value="@Model.Address.AddressLabel" asp-for="Address.AddressLabel"  />
                 <input type="hidden" value="@Model.Description" asp-for="Description" />
                <button class="p-0  text-decoration-underline fs-4 text-dark w-100" style="background-color:rgba(255,255,255,0); border:0px;">Go Back</button>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const fileInput = document.getElementById('fileInput');
        const imageList = document.getElementById('imageList');
        const title = document.getElementById('title');
        const btn = document.getElementById('MyBtn');

        fileInput.addEventListener('change', function(event) {
            imageList.innerHTML="";
            title.innerText="Select the main image";
            const files = event.target.files;
            let count = 0;
            for (const file of files) {
                const reader = new FileReader();
                reader.onload = function(event) {
                    console.log(event.target);
                    console.log("fdsfadsgasd");
                    const imageSrc = event.target.result;
                   
                    const imageElement = document.createElement('div');
                    imageElement.classList.add("col","col-4");
                    imageElement.style.maxHeight="30vh";
                    imageElement.innerHTML = `
                        
                        <input type="radio" form="MyForm" class="btn-check" name="MainImage" value='${count}' id="option${count}" autocomplete="off" >
                                <label class="btn w-100 h-100" for="option${count}"><img class='w-100 h-100' src="${imageSrc}" /></label>
                    `;
                    imageList.appendChild(imageElement);
                    $(`#option${count}`).on('change', function() {
                        btn.removeAttribute('disabled');
                    });
                    
                    count++;
                };
                
                reader.readAsDataURL(file);
            }
            fileInput.hidden=true;
        });
    });
</script>